body
{
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
/* -------------------NAVBAR-------------------- */
.topnav {
  overflow: hidden;
  background-color: #FEE4CF;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: white solid;
  padding-bottom: 10px;
  border-width: 1px;
  display: block;
  z-index: 1;
}

.topnav .active {
  float: left;
  color: #f2f2f2;
  margin-left: 10%;
  margin-top: 2%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sofia';
}
.socialhead
{
  float: left;
  font-family: 'Montserrat';
  margin-left: 3%;
  margin-top: 2.5%;
  font-weight: 500;
  font-size: 20px;
  color: #A16F6B;
  text-decoration: none;
}
.socialhead:hover
{
  color: #6D3035;
}
.topnav a.active {
  color: #F77C79;
}



.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
#fullbutton
{
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 0.01px;
  /* font-size:30px; */
  cursor:pointer;
  float:right;
  background-color: white;
  padding: 10px;
  border-radius: 10%;
  margin-top: 2%;
  margin-right:10%;
}
/* -------------------NAVBAR ENDS-------------------- */

/* ----------------MAIN PAGE--------------- */
.main
{
  background-color: #FEE4CF;
  min-height: 100vh;
  /* position: relative; */
  margin-top: 60px;
  display: block;
  padding: 40px;
}
#cont1
{
  padding-top: 40px;
}
#textbox1
{
  margin-top: 100px;
  padding-left: 7%;
}
#name1
{
  color: #F77C79;
  font-size: 30px;
  font-family: 'Sofia';
}
#artist
{
  color: #6D3035;
  font-size: 80px;
  font-weight: 1000;
  font-family: 'Montserrat';
  line-height: normal;
}
.button {
  background-color: #222222;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 50px;
  transition: .2s ease;
}
.button:hover
{
  transition: .2s ease;
  background-color: #111111;
}
#mainph
{
  width: 550px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#hello
{
  width: 40px;
  height: auto;
}
@media screen and (max-width: 1040px)
{
  .main
  {
    min-height: 50vh;
  }
  #mainph
  {
    width: 400px;
  }
}
@media screen and (max-width: 1000px)
{
  .main
  {
    min-height: 100vh;
  }
}
@media screen and (max-width:800px)
{
  #textbox1
  {
    margin-top: 0px;
    margin-left: 0%;
  }
  .main
  {
    margin-top: 0px;
  }
  .socialhead
  {
    display: none;
  }
}
  @media screen and (max-width:600px)
{
  #textbox1
  {
    margin-top: 0px;
    margin-left: 0%;
    text-align: center;
  }
  .main
  {
    margin-top: 0px;
    padding: 50px;
  }
  #mainph
  {
    width: 400px;
  }
  #artist
  {
    font-size: 50px;
  }
  #cont1
  {
    padding-top: 100px;
  }
}
@media screen and (max-width:500px)
{
  #textbox1
  {
    margin-top: 0px;
    margin-left: 0%;
    text-align: center;
  }
  .main
  {
    margin-top: 0px;
  }
  #artist
  {
    font-size: 50px;
  }
  #mainph
  {
    width: 300px;
    height: auto;
  }
  .button {
    margin: 10px 0px;
  }
}
@media screen and (max-width:400px)
{
  #textbox1
  {
    margin-top: 0px;
    margin-left: 0%;
    text-align: center;
  }
  .main
  {
    margin-top: 0px;
  }
  #artist
  {
    font-size: 40px;
  }
  #mainph
  {
    width: 250px;
    height: auto;
  }
  .button {
    font-size: 20px;
    margin: 10px 0px;
  }
}
/* ----------------MAIN PAGE ENDS--------------- */
/* --------------------ABOUT ME------------ */
#textbox2
{
  background-color: white;
  border: #f1f1f1 solid;
  border-width: 0.5px;
  border-bottom-width: 8px;
  transition: .3s;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  /* border: lightgray solid;
  border-top-width: 0.1px;
  border-right-width: 0.1px;
  border-left-width: 0.1px; */
}
#cont2
{
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}
#textbox2:hover
{
  border-bottom-width: 8px;
  transform: scale(1.01);
  border-bottom: #F66E6E solid;
}
#helloevery
{
  font-weight: 600;
  font-size: 25px;
  color: black;
}
#hellotxt
{
  font-size: 20px;
  color: black;
}
#aboutimg
{
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: gray; /* IE5+ */
      -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
      -webkit-transition: all .4s ease-in-out; 
}
#aboutimg:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
  }
@media screen and (max-width: 800px)
{
  #imgbox
  {
    padding: 10px;
  }
}
@media screen and (max-width: 500px)
{
  #cont2
  {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  }
}
@media screen and (max-width: 400px)
{
  #helloevery
  {
    font-size: 20px;
  }
  #hellotxt
  {
    font-size: 17px;
  }
}
/* --------------------ABOUT ME ENDS------------ */
/* ---------------MY RECENT WORK----------------- */
#recwork
{
  font-size: 45px;
  padding-top: 35px;
  padding-bottom: 25px;
  margin-left: 10%;
  font-family: 'Montserrat';
  font-weight: 600;
  color: white;
}
.recent
{
  /* background-attachment: fixed; */
  background:url(./Artworks/b2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  /* background-size:cover; */
  /* overlay effect */
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
}
/* #row3
{
  margin-top: 10px;
} */
#card1
{
  overflow: hidden;
}
.ph1
{
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 35px;
  margin-top: 15px;
}
#cont3
{
  padding-top: 40px;
}

@media screen and (max-width:1030px)
{
  .ph1
  {
    width: 300px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width:800px)
{
  .ph1
  {
    width: 220px;
  }
  #recwork
  {
    margin-left: 7%;
    font-size: 38px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width:600px)
{
  .ph1
  {
    width: 370px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 10px;
  }
  #recwork
  {
    margin-left: 0%;
    font-size: 33px;
    text-align: center;
    padding-bottom: 0px;
  }
}
@media screen and (max-width:400px)
{
  .ph1
  {
    width: 320px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 0px;
  }
  #recwork
  {
    margin-left: 0%;
    font-size: 28px;
    text-align: center;
    padding-bottom: 0px;
  }
}
/* ---------------MY RECENT WORK ENDS----------------- */
/* ------------------FOOTER------------------ */
.footer
{
  padding: 0;
  /* background-color: #070707; */
  background:url(./Artworks/IMG_20191210_124530__01.jpg);
  background-attachment: fixed;
  background-position: center;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  min-height: 50vh;
}
#getin
{
  color: white;
  font-size: 60px;
  margin-left: 25%;
  font-size: 'Montserrat';
  font-weight: 600;
  padding-top: 100px;
}
.button1 {
  background-color: #F66E6E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 20px;
}
.button1:hover
{
  background-color: #6D3035;
  transition: .2s ease;
}
#topdown
{
  padding-top: 120px;
}
.arrow1
{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 45%;
  top: 50%;
  width: 150px;
  height: auto;
  /* padding: 10px; */
}
.activefoot
{
  float: left;
  color: #F66E6E;
  margin-left: 10%;
  margin-top: 10%;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Sofia';
}
.activefoot:hover
{
  color: #6D3035;
  transition: .2s ease;
}
#socialc
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 3.5%;
}
.socialfoot
{
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'Montserrat';
  /* margin-left: 3%; */
  /* margin-right: 3%; */
  font-weight: 500;
  font-size: 20px;
  color: lightgray;
  text-decoration: none;
}
.socialfoot:hover
{
  transition: .1s ease;
  color: pink;
  font-weight: 600;
}
#row4
{
  border-bottom: solid white;
  border-width: 1px;
}
.power
{
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 24px;
}
.linktxt
{
  color: white;
  text-decoration: none;
}
.linktxt:hover
{
  color: #f2f2f2;
  text-decoration: none;
}
.linktxt:active
{
  color: white;
  text-decoration: none;
}
.linktxt1
{
  color: white;
  text-decoration: underline;
}
.linktxt1:hover
{
  transition: 0.2s ease;
  color: gray;
  text-decoration: underline;
}
.linktxt1:active
{
  color: white;
  text-decoration: none;
}
@media screen and (max-width:1030px)
{
  .footer
  {
    min-height: 23vh;
  }
  #getin
  {
    font-size: 37px;
  }
  .socialfoot
  {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #topdown
  {
    padding-top: 90px;
  }
}
@media screen and (max-width:800px)
{
  .footer
  {
    min-height: 30vh;
    background-color: #070707;
    background:none;
  background-attachment: none;
  background-position: none;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
  }
  #getin
  {
    font-size: 37px;
  }
  .socialfoot
  {
    font-size: 13px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #topdown
  {
    padding-top: 100px;
  }
  .button1 
  {
    background-color: #F66E6E;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 0px;
  }
}
@media screen and (max-width:600px)
{
  .footer
  {
    min-height: 35vh;
  }
  #getin
  {
    font-size: 37px;
    padding-top: 10px;
    text-align: center;
    margin-left: 0%;
  }
  .socialfoot
  {
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
  }
  #topdown
  {
    padding-top: 0px;
    text-align: center;
  }
  .button1 
  {
    background-color: #F66E6E;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    margin-left: 0px;
  }
  .activefoot
{
  display: none;
}
}
@media screen and (max-width:450px)
{
  #getin
  {
    font-size: 32px;
  }
  .button1
  {
    font-size: 20px;
    padding: 8px 18px;
  }
  .footer
  {
    min-height: 30vh;
  }
  .power
  {
    font-size: 17px;
  }
  #socialc
  {
    margin-bottom: 5px;
  }
} 
@media screen and (max-width:380px)
{
  .footer
  {
    min-height: 30vh;
  }
  .power
  {
    margin-top: 13px;
  }
}
@media screen and (max-width: 370px)
{
  .footer
  {
    min-height: 35vh;
  }
}
/* ---------------------FOOTER ENDS--------------- */
/* ------------------FLOAT ON SCROLL ANIMATION---------------- */
.slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
  visibility: visible;                  
  animation: slide 0.5s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}
/* ------------------FLOAT ON SCROLL ANIMATION ENDS---------------- */
/* ----------------------CUSTOM SCROLL BAR---------------- */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F66E6E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6D3035;
}
/* ----------------------CUSTOM SCROLL BAR ENDS---------------- */
